.breadcrumb {
  overflow: hidden;
  margin: 0px;
  padding-top: 18px;
  padding-bottom: 18px;
  border-bottom: solid 1px #DDDDDD;
  color: #888888;
  font-size: 12px;
  a {
    color: #888888;
  }
  span {
    color: #CCCCCC;
  }
}
